.crystalsCollector {
	margin: 20px;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
	background-color: lightblue;
	display: inline-block;
}
.instructions {
	margin: 20px;
	margin-top: 0;
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	background-color: lightblue;
	width: 500px;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.crystal-image {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#number-to-guess {
	margin: 20px;
	margin-top: 0;
	padding: 10px 90px 90px 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: lightblue;
	display: inline-block;
	float: left;
}

#currentNumber {
	margin: 20px;
	margin-top: 0;
	padding: 10px 90px 90px 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: lightblue;
	display: inline-block;
	float: left;
}

.scoreboard {
	margin: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 90px 90px 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: lightblue;
	float: left;
	display: inline-block;
}

#crystals {
	clear: both;
}